*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --grey:#ececec;
    --blue:rgba(26, 115, 232, 1);
}
.header{
    margin-top: 18px;
}
.headercontainer{
    margin-left: auto;
    width: 13.2rem;
    display: flex;
    gap: 1rem;
    align-content: center;
    font-size: 13px;
}
.blue , .red ,.green , .yellow{
    font-size: 89px;
    
}
.a{
    color: black;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.a:hover{
    text-decoration: underline;
}
.btn{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 10rem;
    border: 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: var(--grey);
}
.main{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    gap: 3rem;
}
.shortcutdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    width: 110px;
    height: 110px;
    position: relative;
    bottom: 30px;
}
.shortcutdiv:hover{
    background-color: var(--grey);
}
.google{
    font-size: 100px;
    font-weight: 500;
}
.blue{
    color: var(--blue);
}
.red{
    color: #DB4437;
}
.yellow{
    color:#F4B400 ;
}
.green{
    color: #0F9D58;
}
.input{
    width: 30rem;
    height: 45px;
    border-radius: 100px;
    outline: none;
    padding: 0px 13px;
    border: 0px;
}
.dotsicon{
    color: grey;
    font-size: 20px;
}
.searchboxdiv{
    box-shadow: 0 0 5px rgb(197, 197, 197);
    border-radius: 100px;
    padding: 0px 20px;
    display: flex;
    align-items: center; 
}
.pencil{
    color: var(--blue);
    font-size: 20px;
    font-weight: 900;
    margin-right: 5px;
}
.bottombtn{
    background-color: white;
    color: var(--blue);
    border: 1px ;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%); 
    border-radius: 100px;
    width: 170px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 94.5%;
    left: 90.5%;
    cursor: pointer;
}
.bottombtn:hover{
    background-color: var(--grey);
}
.searchicon{
    font-weight: 800;
    font-size: 20px;
}
.micicon{
    font-size: 20px;
}
input::placeholder {
    font-size: 15px;
    font-weight: 400;
    color: black;
}
.shortcutbtn{
    height: 48px;
    width: 48px;
    background-color:rgba(241, 243, 244,1);
    border: 0px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add{
    font-size: 30px;
    position: relative;
    bottom: 3px;
}
.p{
    font-size: 13px;
}
.inputpopup{
    background-color: white;
    height: 100px;
    width: 561px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0px 5px grey;
}
.addshortcut{
    background-color: white;
    height: 270px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0px 5px grey;
    border-radius: 10px;
    z-index: 100;
}
.custompage{
    background-color: white;
    height: 500px;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0px 5px grey;
    border-radius: 10px;
    z-index: 15;
}
.custombackground{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.whiteline{
    height: 15px;
    width: 561px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
}
input:focus::placeholder {
    color: transparent;
}
.shortcutbackground{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.cancelbtn{
    height: 30px;
    width: 70px;
    background-color: white;
    color: var(--blue);
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid grey;
}
.donebtn{
    height: 30px;
    width: 70px;
    background-color: white;
    color: var(--blue);
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid grey;
}
.active  , .ps:hover{
    color: var(--blue);
}
.ps{
    font-size: 10px;
    margin-bottom: 10px;
}
.inputs{
    outline: none;
    margin-bottom: 20px;
    border: 0px;
    background-color: var(--grey);
    width: 100%;
    height: 25px;
}
.active , .inputs:hover{
    box-shadow:0 4px 2px -2px var(--blue) ;
}
.addshortcut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.donebtndiv{
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-top: 10px;
    width: 33%;
}
.shortcutwrapper{
    width: 92%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.customdelete , .customdone{
    height: 30px;
    width: 70px;
    background-color: white;
    color: var(--blue);
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid grey;
}
.customdone{
    background-color: var(--blue);
    color: white;
}
.custombtndiv{
    height: 80px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    width: 21%;
}
.custompage{
    display: flex;
    flex-direction: column;
}
.customnav{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    gap: 15px;
    border-bottom: 1px solid grey;
}
.navbtn{
    width: 80%;
    height: 35px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0px;
    background-color: white;
    cursor: pointer;
}
.navbtn:hover{
    background-color: var(--grey);
}
.navbtn:focus{
    color: var(--blue);
    background-color: rgb(181, 201, 228);
}
.customdivtop{
    height: 120px;
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: auto;
}
.navbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.customicon{
    font-size: 30px;
}
.upload{
    width: 180px;
    height: 180px;
    background-color: white;
    z-index: 100; 
    border: 1px solid grey;  
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navupload{
    display: flex;
    flex-direction: row;
    height: 90%;
}
.uploadicon{
    width: 50px;
    height: 50px;
    color: black;
}